<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>701630903331-93ajvl0vdekdukeca00hblpfkh35umjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.701630903331-93ajvl0vdekdukeca00hblpfkh35umjl</string>
	<key>API_KEY</key>
	<string>AIzaSyD2xgOlY8Hs0OGBSbc5SlLkII335YyG0Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>701630903331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>iti1-70bf7</string>
	<key>STORAGE_BUCKET</key>
	<string>iti1-70bf7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701630903331:ios:be24eb20daa25efaeaed96</string>
</dict>
</plist>